body {
  font-family: Arial;
}
h1 {
  text-align: center
}
h2 {
  text-align: center;
  font-weight: normal;
}
img {
  border: 15px solid rgb(33, 81, 212);
}
div {
  width: 50%;
  text-align: center;
  justify-content: center;
}

